@model PartyEC.UI.Models.OrderViewModel
@using PartyEC.UI.App_Start
@{
    ViewBag.Title = "Shipments";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section styles {
    @Styles.RenderFormat(SiteKeys.StyleVersion,"~/Content/DataTables/css/datatable")
}

<div class="container-fluid">
    <div class="panel with-nav-tabs panel-primary">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li onclick="ShipmentListTabClick()" id="tabShipmentList" class="active"><a href="#ShipmentList" data-toggle="tab"><i class="fa fa-list">&nbsp;</i> Shipment List</a></li>
                <li onclick="ShipmentDetailTabClick()" id="tabShipmentDetails"><a href="#ShipmentDetail" data-toggle="tab"><i class="fa fa-file-o">&nbsp;</i> Shipment Detail</a></li>
                @*ButtonPatch*@
                <div id="ShipmentToolBox">

                </div>

            </ul>
        </div>
        <div class="panel-body" style="min-height:580px;padding:0;">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="ShipmentList" style="padding:1%;">
                    <div class="container-fluid">
                        <div class="row">
                            @*table*@
                            <table id="tblShipments" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Order ID</th>
                                        <th>Shipment No</th>
                                        <th>Shipment Date</th>
                                        <th>Delivered Date</th>
                                        <th>Delivered By</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                            @*table*@
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="ShipmentDetail" style="padding:1%;">
                    <div class="col-md-12" style="padding:0;">
                        <div class="col-md-2" style="padding:0;">
                            <ul class="nav nav-tabs nav-stacked Sidebar_Party" style="min-height:580px;" id="LHSNavbarShipment">
                                <li class="liHead"><a disabled>&nbsp;</a></li>
                                <li onclick="" class="active"><a data-toggle="tab" id="tabNotifi">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shipment info</a></li>

                            </ul>
                        </div>
                        <div class="col-md-9">
                            <div class="col-md-12">
                                <h4 style="max-width:50%;padding:1%"><span class="fa fa-bfa fa-shopping-cart" style="font-size: 16px;color:#f46f25;"></span><span> </span><span class="Spantitle">Shipment</span></h4>
                                <hr />
                                <div class="col-md-6">
                                    <div class="infoBox panel panel-default" style="min-height:220px">
                                        <div class="infoBoxHeader panel-heading">General</div>
                                        <div class="panel-body">
                                            @Html.LabelFor(model => model.OrderNo, htmlAttributes: new { @class = "h5 col-md-4" })
                                            <div class="col-md-8">
                                                @*style="font-weight:bold"*@
                                                <label id="lblOrderNoShippingRegion" class="h5 label-display">-</label>
                                            </div>
                                            <div class="col-md-12"></div>
                                            @Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @class = "h5 col-md-4" })
                                            <div class="col-md-8">
                                                @*style="font-weight:bold"*@
                                                <label id="lblOrderDateShippingRegion" class="h5 label-display">-</label>
                                            </div>
                                            <div class="col-md-12"></div>
                                            @Html.LabelFor(model => model.OrderStatus, htmlAttributes: new { @class = "h5 col-md-4" })
                                            <div class="col-md-8">
                                                @*style="font-weight:bold"*@
                                                <label id="lblOrderStatusShippingRegion" class="h5 label-display">-</label>
                                            </div>
                                            <div class="col-md-12"></div>
                                            @Html.LabelFor(model => model.SourceIP, htmlAttributes: new { @class = "h5 col-md-4" })
                                            <div class="col-md-8">
                                                @*style="font-weight:bold"*@
                                                <label id="lblSourceIPShippingRegion" class="h5 label-display">-</label>
                                            </div>
                                            @Html.LabelFor(model => model.RevNo, htmlAttributes: new { @class = "h5 col-md-4" })
                                            <div class="col-md-8">
                                                @*style="font-weight:bold"*@
                                                <label id="lblRevNoShippingRegion" class="h5 label-display">-</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="infoBox panel panel-default" style="min-height:220px">
                                        <div class="infoBoxHeader panel-heading">Account Information</div>
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <img src="~/Content/images/Person1.png" id="imgPreviewCustomerShippingRegion" />
                                            </div>
                                            <div class="col-md-12"></div>
                                            @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "h5 col-md-4" })
                                            <div class="col-md-8">
                                                @*style="font-weight:bold"*@
                                                <label id="lblCustomerNameShippingRegion" class="h5 label-display">-</label>
                                            </div>
                                            <div class="col-md-12"></div>
                                            @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "h5 col-md-4" })
                                            <div class="col-md-8">
                                                @*style="font-weight:bold"*@
                                                <label id="lblContactNoShippingRegion" class="h5 label-display">-</label>
                                            </div>
                                            <div class="col-md-12"></div>
                                            @Html.LabelFor(model => model.CustomerEmail, htmlAttributes: new { @class = "h5 col-md-4" })
                                            <div class="col-md-8">
                                                @*style="font-weight:bold"*@
                                                <label id="lblCustomerEmailShippingRegion" class="h5 label-display">-</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12"></div>
                                <table id="tblOrderShippedinShipmentRegion" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Shipment ID</th>
                                            <th>Product</th>
                                            <th>Ordered Qty</th>
                                            <th>Shipped Qty</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div class="col-md-12"></div>
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-6">
                                    <div class="infoBox panel panel-default" style="min-height:200px">
                                        <div class="infoBoxHeader panel-heading">Shipping Information</div>
                                        <div class="panel-body">
                                            <div class="col-md-12"></div>
                                            @Html.LabelFor(model => model.shipmentViewModelObj.DeliveredDate, htmlAttributes: new { @class = "h5 col-md-4" })
                                            <div class="col-md-8">
                                                @*style="font-weight:bold"*@
                                                <input type="text" id="txtDeliveredDateShippingRegion" class="form-control text-box single-line datepicker" />
                                              
                                            </div>
                                            <div class="col-md-12"></div>
                                            @Html.LabelFor(model => model.shipmentViewModelObj.DeliveredBy, htmlAttributes: new { @class = "h5 col-md-4" })
                                            <div class="col-md-8">
                                                @*style="font-weight:bold"*@
                                                <input type="text" id="txtDeliveredByShippingRegion" class="form-control text-box single-line" />
                                                <label id="lblDeliveredByShippingRegion" class="h5 label-display">-</label>
                                            </div>
                                            <div class="col-md-12"><br></div>
                                            <div class="col-md-5">
                                            </div>
                                            <div class="col-md-7">
                                                <input type="hidden" id="hdnShipmentID" />
                                                @Html.HiddenFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-4", Value = "0", id = "hdnOrderHID" })
                                                <input type="submit" onclick="UpdateDeliveryStatus()" value="Save Changes" class="btn btn-info btn-right" style="float:right;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>



    @section Scripts {
        @Scripts.RenderFormat(SiteKeys.ScriptVersion,"~/bundles/datatable")
        @Scripts.RenderFormat(SiteKeys.ScriptVersion,"~/bundles/Shipment")
    }




