@model PartyEC.UI.Models.EventViewModel

@{
    ViewBag.Title = "Event";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
} 
@section styles {
    @Styles.Render("~/Content/datatable")
    @Styles.Render("~/Content/Uplodify")
    <style>
        .uploadify-button {
            background-color: transparent;
            border: none;
            padding: 0;
        }

        .uploadify:hover .uploadify-button {
            background-color: transparent;
        }
    </style>
}
@* ---------------------------------- *@

<div class="container-fluid">
    <div class="panel with-nav-tabs panel-primary">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#eventList"  id="tabeventList" data-toggle="tab">Event List</a></li>
                <li><a href="#eventDetails" onclick="TabeventDetails()" id="tabeventDetails" data-toggle="tab">Event Details</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="eventList">
                    <div class="" id="btnPatchEdittab1">
                        @{
                            PartyEC.UI.Models.ToolboxViewModel ToolBoxControltab1 = new PartyEC.UI.Models.ToolboxViewModel();
                            ToolBoxControltab1.addbtn.Visible = true;
                            ToolBoxControltab1.addbtn.Event = "btnAddNew()";
                            ToolBoxControltab1.addbtn.Title = "Add New";
                            Html.RenderPartial("_ToolboxView", ToolBoxControltab1);
                        }
                    </div>
                    <h4>   Event List </h4>
                    @*table*@
                    <table id="tblevent" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Event Type ID</th>
                                <th>Name </th>
                                <th>Related Categories </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                    @*table*@
                </div>
                <div class="tab-pane fade" id="eventDetails">
                    <div class="" id="btnPatchEdittab2">
                        @{
                            PartyEC.UI.Models.ToolboxViewModel ToolBoxControltab2 = new PartyEC.UI.Models.ToolboxViewModel();
                            ToolBoxControltab2.deletebtn.Visible = true;
                            ToolBoxControltab2.resetbtn.Visible = true;
                            ToolBoxControltab2.savebtn.Visible = true;
                            ToolBoxControltab2.backbtn.Visible = true;
                            ToolBoxControltab2.deletebtn.Event = "clickdelete()";
                            ToolBoxControltab2.deletebtn.Title = "Delete";
                            ToolBoxControltab2.resetbtn.Event = "btnreset()";
                            ToolBoxControltab2.resetbtn.Title = "Reset";
                            ToolBoxControltab2.savebtn.Event = "clicksave()";
                            ToolBoxControltab2.savebtn.Title = "Save";
                            ToolBoxControltab2.backbtn.Event = "goback()";
                            ToolBoxControltab2.backbtn.Title = "Back";
                            Html.RenderPartial("_ToolboxView", ToolBoxControltab2);
                        }
                    </div>
                    <h4>Category Details</h4>
                    <div class="col-md-12" id="InsertEvent">
                        <div class="col-md-2">
                            @* left hand side Tab  *@
                            <div class="panel with-nav-tabs js panel-primary">
                                <div class="panel-heading" style="min-height:300px">
                                    <ul class="nav nav-tabs nav-stacked">
                                        <li class="active"><a href="#general" data-toggle="tab" id="tabGeneral">General</a></li>
                                        <li><a href="#images" data-toggle="tab" id="tabImages">Images</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 ">
                          @using (Ajax.BeginForm("InsertUpdateEvent", "Event", new AjaxOptions { HttpMethod = "POST", Confirm = "", OnSuccess = "SaveSuccess", OnFailure = "NetworkFailure", AllowCache = false, LoadingElementId = "", OnBegin = "", OnComplete = "" }, new { @class = "form-horizontal", role = "form" }))
                          {
                            @Html.AntiForgeryToken()
                            <div class="tab-content EventTabContent">
                                <div class="tab-pane fade in active" id="general">
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group">
                                        @Html.HiddenFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-4", Value = "0" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div> 

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CategoryList, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-8 " style="height:200px; overflow-y:auto">

                                            @for (int i = 0; i < Model.CategoryList.Count; i++)
                                            {                                            
                                        @Html.CheckBox(Model.CategoryList[i].Name, false, new { id = "Cat_" + Model.CategoryList[i].ID })
                                        @Html.LabelFor(x => x.CategoryList[i].Name, Model.CategoryList[i].Name)
                                        <br />
                                        }
                                        </div>
                                        <div hidden="hidden">
                                            @Html.EditorFor(model => model.RelatedCategoriesCSV, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>

                                    @*<div class="form-group">
                                        @Html.LabelFor(model => model.EventImageID, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.EventImageID, new { id = "EventImageUpload", type = "file", @class = "btn btn-default" })
                                            @Html.ValidationMessageFor(model => model.EventImageID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>*@

                                    <div class="form-group" hidden="hidden">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input id="btnFormSave" type="submit" value="Create" class="btn btn-default" />
                                            @Html.HiddenFor(model => model.EventImageID, htmlAttributes: new { @class = "control-label col-md-4", Value = "" })
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="images">
                                    <div class="col-lg-12">
                                        <h2>Event Images</h2>
                                        <hr />
                                        @*<div class="col-md-6 col-md-4">
                                            <div class="thumbnail">
                                                <div class="caption">
                                                    <p>@Html.LabelFor(model => model.EventImageID, new { @class = "control-label" })</p>
                                                    <p>@Html.TextBoxFor(model => model.EventImageID, new { type = "file", @class = "btn btn-default" })</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <img src=@Url.Content("~/Content/images/NoImageFound.png") alt="">
                                        </div>*@
                                        <div class="col-md-12" id="divImageUpload">
                                            <div>
                                                <a id="alinkUpload" style="display:none;left:39%;" class="btn btn-info" href="javascript:$('#file_upload').uploadify('upload','*')">Upload</a>
                                                <input type="file" class="uploadify" name="file_upload" id="file_upload" />
                                                
                                            </div>
                                            <div id="uploaded">
                                            </div>
                                            <div class="overlay" id="divOverlayimage" style="display:none;">
                                                <div class="uploadify-button  disabled" title="Save Event Type for enable file browse" style="height: 30px; line-height: 30px; width: 120px;margin-left:2%;cursor:not-allowed;"><span class="uploadify-button-text">SELECT FILES</span></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12" style="object-fit:fill;">
                                            <img src=@Url.Content("~/Content/images/NoImageFound.png") alt="" id="imgEvents" width="100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                          }
                        </div>
                        <div class="col-md-4">
                            @* Right hand side Space  *@
                        </div>
                    </div>
                </div>

                <div id="attributedelete" hidden="hidden">
                    @using (Ajax.BeginForm("DeleteEvent", "Event", new AjaxOptions { HttpMethod = "POST", Confirm = "DeleteConfirm", OnSuccess = "DeleteSuccess", OnFailure = "NetworkFailure", AllowCache = false, LoadingElementId = "", OnBegin = "", OnComplete = "" }, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-actions no-color">
                            @Html.HiddenFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-4", Value = "0", id = "deleteId" })
                            <input id="btnFormDelete" type="submit" value="Delete" class="btn btn-default" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/jqueryunobtrusiveajaxvalidate")
    @Scripts.Render("~/bundles/Event")
    @Scripts.Render("~/bundles/Uploadify")
    <script type="text/javascript">
    $(function () {
        $('#file_upload').uploadify({
            'auto': false,
            'formData': {
                'Name': '', 'ID': '', 'EventImageID': ''
            },
            'buttonImage': '/Content/images/browse-btn.png',
                'swf': "@Url.Content("~/Content/uploadify.swf")",
                //this is where the file posts when it uploads.
            'uploader': "@Url.Action("Upload", "Event")",
            'onUploadStart': function (file) {
                $('#file_upload').uploadify('settings', 'formData', { 'Name': $('#Name').val(), 'ID': $('#ID').val(), 'EventImageID': $('#EventImageID').val() });
            },
            'uploadLimit' : 1,
                'onUploadSuccess': function (file, data, response) {
                  //data is whatever you return from the server
                  //we're sending the URL from the server so we append this as an image to the #uploaded div
                //$('#URL').val(data);
                    $('#imgEvents').attr({ 'src': (data + '?' + new Date().getTime()), 'width': '100%' });
                    $('#alinkUpload').hide();
                }

        });

    });

    </script>
}