@model PartyEC.UI.Models.OrderViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section styles {
    @Styles.Render("~/Content/DataTables/css/datatable")
    @Styles.Render("~/Content/DataTables/css/datatableSelect")
    @Styles.Render("~/Content/bootstrapdatepicker")

}
<div class="container-fluid">
    <div class="panel with-nav-tabs panel-primary">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#taborderListgrid" data-toggle="tab"  id="tabOrderList"><i class="fa fa-list">&nbsp;</i> Orders List</a></li>
                <li><a href="#taborderDetails" data-toggle="tab" id="tabOrderDetails"><i class="fa fa-file-o">&nbsp;</i> Order Detail</a></li>
                <li><a href="#taborderEditDetails" data-toggle="tab" id="tabCreateRevision" style="display:none;">Create New Revision</a></li>
                
                <div class="" id="btnPatchOrders">
                
                       @*Here the Buttons should Paint as Partial View*@
                
                </div>

            </ul>
            

        </div>

        <div class="panel-body" style="min-height:1580px;padding:0;">
            <div class="tab-content">

                <div class="tab-pane fade in active" id="taborderListgrid" style="padding:1%">
                    <table id="tblOrderList" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>ParentOrderID</th>
                                <th>Order No</th>
                                <th>Order Date</th>
                                <th>Customer Name</th>
                                <th>Contact No</th>
                                <th>Grand Total</th>
                                <th>Order Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="tab-pane fade" id="taborderDetails">
                    <div class="col-md-12" style="padding:0;">
                        
                        @*<h3>Order Detail</h3>
                        <hr />*@
                        @*<div class="col-md-2">
                            <div class="panel with-nav-tabs js panel-primary">
                                <div class="panel-heading">
                                    <ul class="nav nav-tabs nav-stacked">
                                        <li class="active"><a href="#general" data-toggle="tab" id="tabGeneral">General <span class="label label-danger">E</span></a></li>
                                        <li><a href="#price" data-toggle="tab" id="tabPrice">Invoice</a></li>
                                        <li><a href="#images" data-toggle="tab" id="tabImages">Shiping</a></li>
                                    </ul>
                                </div>
                            </div>


                        </div>*@
                        <div class="col-md-2" style="padding:0;">
                            @*<div class="col-md-12 Sidebar_Party" style="min-height:1644px;"></div>*@
                            <ul class="nav nav-tabs nav-stacked Sidebar_Party" style="min-height:1684px;">
                                <li class="liHead"><a disabled>&nbsp;&nbsp;</a></li>
                                <li class="active"><a href="#general" data-toggle="tab" id="tabGeneral">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;General <span class="label label-danger">E</span></a></li>
                                <li><a href="#" data-toggle="tab" id="tabImages">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Invoice</a></li>
                                <li><a href="#" data-toggle="tab" id="tabImages">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shiping</a></li>
                            </ul>
                        </div>
                        <div class="col-md-9">
                            <div class="col-md-12">
                                <h4 style="max-width:50%;padding:1%"><span class="fa fa-bfa fa-shopping-cart" style="font-size: 16px;color:#f46f25;"></span><span> </span><span id="titleSpanPro" class="Spantitle">Order Details</span></h4>
                                <hr />
                                <div class="col-md-6">
                                    <div class="infoBox panel panel-default" style="min-height:300px">
                                        <div class="infoBoxHeader panel-heading">General</div>
                                        <div class="panel-body">
                                            @Html.LabelFor(model => model.OrderNo, htmlAttributes: new { @class = "h5 col-md-4" })
                                            <div class="col-md-8">
                                                @*style="font-weight:bold"*@
                                                <label id="lblOrderNo" class="h5 label-display">-</label>
                                            </div>
                                            <div class="col-md-12"></div>
                                            @Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @class = "h5 col-md-4" })
                                            <div class="col-md-8">
                                                @*style="font-weight:bold"*@
                                                <label id="lblOrderDate" class="h5 label-display">-</label>
                                            </div>
                                            <div class="col-md-12"></div>
                                            @Html.LabelFor(model => model.OrderStatus, htmlAttributes: new { @class = "h5 col-md-4" })
                                            <div class="col-md-8">
                                                @*style="font-weight:bold"*@
                                                <label id="lblOrderStatus" class="h5 label-display">-</label>
                                            </div>
                                            <div class="col-md-12"></div>
                                            @Html.LabelFor(model => model.SourceIP, htmlAttributes: new { @class = "h5 col-md-4" })
                                            <div class="col-md-8">
                                                @*style="font-weight:bold"*@
                                                <label id="lblSourceIP" class="h5 label-display">-</label>
                                            </div>
                                            @Html.LabelFor(model => model.RevNo, htmlAttributes: new { @class = "h5 col-md-4" })
                                            <div class="col-md-8">
                                                @*style="font-weight:bold"*@
                                                <label id="lblRevNo" class="h5 label-display">-</label>
                                            </div>
                                            @Html.LabelFor(model => model.RevisionIDs, htmlAttributes: new { @class = "h5 col-md-4",id="lblRevisionIDs" })
                                            <div class="col-md-8" id="RevisionLinkBind">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="infoBox panel panel-default" style="min-height:300px">
                                        <div class="infoBoxHeader panel-heading">Account Information</div>
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <img src="~/Content/images/Person1.png" id="imgPreviewCustomer" />
                                            </div>
                                            <div class="col-md-12"></div>
                                            @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "h5 col-md-4" })
                                            <div class="col-md-8">
                                                @*style="font-weight:bold"*@
                                                <label id="lblCustomerName" class="h5 label-display">-</label>
                                            </div>
                                            <div class="col-md-12"></div>
                                            @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "h5 col-md-4" })
                                            <div class="col-md-8">
                                                @*style="font-weight:bold"*@
                                                <label id="lblContactNo" class="h5 label-display">-</label>
                                            </div>
                                            <div class="col-md-12"></div>
                                            @Html.LabelFor(model => model.CustomerEmail, htmlAttributes: new { @class = "h5 col-md-4" })
                                            <div class="col-md-8">
                                                @*style="font-weight:bold"*@
                                                <label id="lblCustomerEmail" class="h5 label-display">-</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="infoBox panel-default" style="min-height:250px">
                                        <div class="infoBoxHeader panel-heading">Billing Address</div>
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <a id="btnmodelrelproduct" style="position:relative;left:89%" class="btn btn-info" data-toggle="modal" data-target="#ModelBillingDetails">Edit</a>
                                            </div>

                                            <label class="h5 col-md-6" for="lblName">Name :</label>
                                            <div class="col-md-6">
                                                @*style="font-weight:bold"*@
                                                <label id="lblName" class="h5 label-display">-</label>
                                            </div>
                                            <div class="col-md-12"></div>
                                            <label class="h5 col-md-6" for="lblAddress">Address :</label>
                                            <div class="col-md-6">
                                                @*style="font-weight:bold"*@
                                                <label id="lblAddress" class="h5 label-display">-</label>
                                            </div>
                                            <div class="col-md-12"></div>
                                            <label class="h5 col-md-6" for="lblContact">Contact No :</label>
                                            <div class="col-md-6">
                                                @*style="font-weight:bold"*@
                                                <label id="lblContact" class="h5 label-display">-</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="infoBox panel panel-default" style="min-height:250px">
                                        <div class="infoBoxHeader panel-heading">Shipping Address</div>
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <a id="btnmodelrelproduct" style="position:relative;left:89%" class="btn btn-info" data-toggle="modal" data-target="#ModelShipingDetails">Edit</a>
                                            </div>

                                            <label class="h5 col-md-6" for="lblShipDisName">Name :</label>
                                            <div class="col-md-6">
                                                @*style="font-weight:bold"*@
                                                <label id="lblShipDisName" class="h5 label-display">-</label>
                                            </div>
                                            <div class="col-md-12"></div>
                                            <label class="h5 col-md-6" for="lblShipDisAddress">Address :</label>
                                            <div class="col-md-6">
                                                @*style="font-weight:bold"*@
                                                <label id="lblShipDisAddress" class="h5 label-display">-</label>
                                            </div>
                                            <div class="col-md-12"></div>
                                            <div class="col-md-12"></div>
                                            <label class="h5 col-md-6" for="lblShipDisContact">Contact No :</label>
                                            <div class="col-md-6">
                                                @*style="font-weight:bold"*@
                                                <label id="lblShipDisContact" class="h5 label-display">-</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="infoBox panel panel-default" style="min-height:150px">
                                        <div class="infoBoxHeader panel-heading">Payment Information</div>
                                        <div class="panel-body">
                                            <label class="h5 col-md-6" for="lblPaymentType">Payment Mode:</label>
                                            <div class="col-md-6">
                                                @*style="font-weight:bold"*@
                                                <label id="lblPaymentType" class="h5 label-display">-</label>
                                            </div>
                                            <div class="col-md-12"></div>
                                            <label class="h5 col-md-6" for="lblCurrencyCode">Currency :</label>
                                            <div class="col-md-6">
                                                @*style="font-weight:bold"*@
                                                <label id="lblCurrencyCode" class="h5 label-display">-</label>
                                            </div>
                                            <div class="col-md-12"></div>
                                            <label class="h5 col-md-6" for="lblPaymentStatus">Payment Status :</label>
                                            <div class="col-md-6">
                                                @*style="font-weight:bold"*@
                                                <label id="lblPaymentStatus" class="h5 label-display">-</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="infoBox panel panel-default" style="min-height:150px">
                                        <div class="infoBoxHeader panel-heading">Shipping & Handling information</div>
                                        <div class="panel-body">
                                            <label class="h5 col-md-6" for="lblShippingLocation">Shipping Location:</label>
                                            <div class="col-md-6">
                                                @*style="font-weight:bold"*@
                                                <label id="lblShippingLocation" class="h5 label-display">-</label>
                                            </div>
                                            <div class="col-md-12"></div>
                                            <label class="h5 col-md-6" for="lblShippingAmt">Shipping Charges :</label>
                                            <div class="col-md-6">
                                                @*style="font-weight:bold"*@
                                                <label id="lblShippingAmt" class="h5 label-display">-</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <h3>Order Items</h3>
                                    <hr />
                                    <table id="tblOrderDetailList" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>ID</th>                                                
                                                <th>Product</th>
                                                <th>Item Status</th>
                                                <th>Qty</th>
                                                <th>Price</th>
                                                <th>Sub Total</th>
                                                <th>Shipping Charges</th>
                                                <th>Tax Amount</th>
                                                <th>Discount</th>
                                                <th>Total Discount</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    @using (Ajax.BeginForm("UpdateEventsLog", "Order", new AjaxOptions { HttpMethod = "POST", Confirm = "", OnFailure = "NetworkFailure", AllowCache = false, OnComplete = "CheckinCommentInsert" }, new { @class = "form-horizontal", role = "form", id = "formComments" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="infoBox panel panel-default" style="min-height:250px">
                                            <div class="infoBoxHeader panel-heading">Order Comments</div>
                                            <div class="panel-body">
                                                <div class="form-group col-md-12">
                                                    @Html.LabelFor(model => model.EventsLogViewObj.Comment, htmlAttributes: new { @class = "control-label col-md-6" })
                                                    <div class="col-md-12">
                                                        @Html.TextAreaFor(model => model.EventsLogViewObj.Comment, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.EventsLogViewObj.Comment, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12"></div>
                                                <div class="">
                                                    @Html.LabelFor(model => model.EventsLogViewObj.CustomerNotifiedYN, htmlAttributes: new { @class = "control-label col-md-4" })
                                                    <div class="col-lg-2">
                                                        <div class="checkbox">
                                                            <div>
                                                                @Html.EditorFor(model => model.EventsLogViewObj.CustomerNotifiedYN)
                                                                @Html.ValidationMessageFor(model => model.EventsLogViewObj.CustomerNotifiedYN, "", new { @class = "text-danger" })
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="">
                                                    <div class="col-md-6">
                                                        @Html.HiddenFor(model => model.EventsLogViewObj.ParentType, htmlAttributes: new { @class = "control-label col-md-4", Value = "Order" })
                                                        @Html.HiddenFor(model => model.EventsLogViewObj.ParentID, htmlAttributes: new { @class = "control-label col-md-4", Value = "0",id="hdnEventsLogParentID" })
                                                        @Html.HiddenFor(model => model.mailViewModelObj.CustomerEmail, htmlAttributes: new { @class = "control-label col-md-4", Value = "", id = "hdnAccountEmailID" })
                                                        @Html.HiddenFor(model => model.mailViewModelObj.CustomerName, htmlAttributes: new { @class = "control-label col-md-4", Value = "", id = "hdnAccountCustomerName" })
                                                        <input type="submit" value="Submit Comment" class="btn btn-default btn-right" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12"></div>
                                                <div class="form-group col-md-12">
                                                    <hr />
                                                    <label id="lblHistroy" class="control-label" style="font-size:14px;margin-left:1%">Earlier Comments</label>

                                                    <div style="height: 150px;width: 107%;overflow: hidden;position: relative;">
                                                        <div id="CommentsDisplay" style="max-height: 150px;min-height: 150px;overflow-x: hidden;position: absolute;top: 0px;bottom: 0px;left: 0px;right: -15px;white-space: pre;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                                }
                                </div>
                                <div class="col-md-6">
                                    <div class="infoBox panel panel-default" style="min-height:250px">
                                        <div class="infoBoxHeader panel-heading">Order Summery</div>
                                        <div class="panel-body">
                                            <table width="100%" border="0" align="right" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td width="0" align="left" valign="top" style="color:#404041;font-size:12px;line-height:16px;padding:15px 0px 3px 0px">
                                                            <strong>Sub-total</strong>
                                                        </td>
                                                        <td width="0" id="tdSubTotal" align="right" valign="top" style="color:#404041;font-size:12px;line-height:16px;padding:15px 5px 3px 5px">
                                                            0.00QAR
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="0" align="left" valign="top" style="color:#404041;font-size:12px;line-height:16px;padding:15px 0px 3px 0px">
                                                            <strong>Tax:</strong>
                                                        </td>
                                                        <td width="0" id="tdTaxTotal" align="right" valign="top" style="color:#404041;font-size:12px;line-height:16px;padding:15px 5px 3px 5px">
                                                            0.00QAR
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="color:#404041;font-size:12px;line-height:16px;padding:5px 0px 3px 0px">
                                                            <strong>Delivery costs:</strong>
                                                        </td>
                                                        <td width="62" id="tdDeliveryCosts" align="right" valign="top" style="color:#404041;font-size:12px;line-height:16px;padding:5px 5px 3px 5px">
                                                            0.00QAR
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td align="left" valign="top" style="color:#404041;font-size:12px;line-height:16px;padding:5px 0px 3px 0px;border-bottom:solid 1px #999999">
                                                            <strong>Order discount:</strong>
                                                        </td>
                                                        <td width="62" id="tdOrderDiscount" align="right" valign="top" style="color:#404041;font-size:12px;line-height:16px;padding:5px 5px 3px 5px;border-bottom:solid 1px #999999">
                                                            0.00QAR
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="bottom" style="color:#404041;font-size:13px;line-height:16px;padding:5px 0px 3px 0px">
                                                            <strong>Grand Total:</strong>
                                                        </td>
                                                        <td width="62" align="right" valign="bottom" style="color:#339933;font-size:13px;line-height:16px;padding:5px 5px 3px 5px">
                                                            <strong class="strGrandTotal">0.00QAR</strong>
                                                        </td>
                                                    </tr>
                                                </tbody>


                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-12">
                                <input type="submit" value="Create" class="btn btn-default" style="display:none;" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="taborderEditDetails">
                    <div class="col-md-12">
                        <h4 style="max-width:50%;padding:1%"><span class="fa fa-bfa fa-shopping-cart" style="font-size: 16px;color:#f46f25;"></span><span> </span><span class="Spantitle">Create New Revision</span></h4>
                        <hr />
                        <div class="col-md-12">
                            <div class="infoBox panel panel-default" style="min-height:250px">
                                <div class="infoBoxHeader panel-heading">General</div>
                                <div class="panel-body">
                                    @Html.LabelFor(model => model.OrderNo, htmlAttributes: new { @class = "h5 col-md-4" })
                                    <div class="col-md-8">
                                        @*style="font-weight:bold"*@
                                        <label id="lblOrderNo_NewRev" class="h5 label-display">-</label>
                                    </div>
                                    <div class="col-md-12"></div>
                                    @Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @class = "h5 col-md-4" })
                                    <div class="col-md-8">
                                        @*style="font-weight:bold"*@
                                        <label id="lblOrderDate_NewRev" class="h5 label-display">-</label>
                                    </div>
                                    <div class="col-md-12"></div>
                                    @Html.LabelFor(model => model.OrderStatus, htmlAttributes: new { @class = "h5 col-md-4" })
                                    <div class="col-md-8">
                                        @*style="font-weight:bold"*@
                                        <label id="lblOrderStatus_NewRev" class="h5 label-display">-</label>
                                    </div>
                                    <div class="col-md-12"></div>
                                    @Html.LabelFor(model => model.SourceIP, htmlAttributes: new { @class = "h5 col-md-4" })
                                    <div class="col-md-8">
                                        @*style="font-weight:bold"*@
                                        <label id="lblSourceIP_NewRev" class="h5 label-display">-</label>
                                    </div>
                                    @Html.LabelFor(model => model.RevNo, htmlAttributes: new { @class = "h5 col-md-4" })
                                    <div class="col-md-8">
                                        @*style="font-weight:bold"*@
                                        <label id="lblRevNo_NewRev" class="h5 label-display">New Revision</label>
                                    </div>
                                    <div class="col-md-12"></div>
                                    @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "h5 col-md-4" })
                                    <div class="col-md-8">
                                        @*style="font-weight:bold"*@
                                        <label id="lblCustomerName_NewRev" class="h5 label-display">-</label>
                                    </div>
                                    <div class="col-md-12"></div>
                                    @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "h5 col-md-4" })
                                    <div class="col-md-8">
                                        @*style="font-weight:bold"*@
                                        <label id="lblContactNo_NewRev" class="h5 label-display">-</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <table id="tblOrderModification" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>ID</th>
                                        <th>Poduct</th>
                                        <th>Item Status</th>
                                        <th width="40px">Qty</th>
                                        <th>Price</th>
                                        <th>Sub Total</th>
                                        <th>Shipping Charges</th>
                                        <th>Tax Amount</th>
                                        <th>Discount</th>
                                        <th>Total Discount</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                            </table>
                        <table id="tblGrandTotal" width="100%" border="0" align="right" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td align="left" valign="top" style="color:#404041;font-size:12px;line-height:16px;padding:5px 0px 3px 0px;border-bottom:solid 1px #999999"></td>
                                    <td width="62" align="right" valign="top" style="color:#404041;font-size:12px;line-height:16px;padding:5px 5px 3px 5px;border-bottom:solid 1px #999999"></td>
                                </tr>
                                <tr>
                                    <td align="right" valign="bottom" style="color:#404041;font-size:13px;line-height:16px;padding:5px 0px 3px 0px">
                                        <strong>Grand Total:</strong>
                                    </td>
                                    <td width="100" align="right" valign="bottom" style="color:#339933;font-size:13px;line-height:16px;padding:5px 5px 3px 5px">
                                        <strong class="strGrandTotal">4910.00QAR</strong>
                                    </td>
                                </tr>
                            </tbody>


                        </table>
                    </div>
                </div>
            </div>
            </div>
                </div>
            </div>
<div id="ModelBillingDetails" class="modal fade" tabindex="-1" role="dialog" style="left:50%;" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Billing Details</h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("UpdateBillingDetails", "Order", new AjaxOptions { HttpMethod = "POST", OnFailure = "NetworkFailure", AllowCache = false, OnComplete = "CheckinBillingChanges" }, new { @class = "form-horizontal", role = "form", id = "formBillingModal" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @*<div class="panel panel-default" style="min-height:250px">
                            <div class="panel-heading">Billing Address</div>
                            <div class="panel-body">*@
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.BillFirstName, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.BillFirstName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.BillFirstName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.BillMidName, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.BillMidName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.BillMidName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.BillLastName, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.BillLastName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.BillLastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.BillAddress, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-6">
                                        @Html.TextAreaFor(model => model.BillAddress, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.BillAddress, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.BillCity, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.BillCity, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.BillCity, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.BillStateProvince, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.BillStateProvince, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.BillStateProvince, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.BillCountryCode, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.BillCountryCode, Model.Countries, "-- Select Country --", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.BillCountryCode, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.BillContactNo, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.BillContactNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.BillContactNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-5 col-md-5">
                                        @Html.HiddenFor(model => model.CustomerID, htmlAttributes: new { @class = "control-label col-md-4", Value = "0" })
                                        @Html.HiddenFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-4", Value = "0", id = "hdnOrderHID" })
                                        @Html.HiddenFor(model => model.ParentOrderID, htmlAttributes: new { @class = "control-label col-md-4", Value = "0" })

                                        <input type="submit" value="Save" class="btn btn-default btn-right" />
                                    </div>
                                </div>
                            </div>
                        @*</div>
                    </div>*@
                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="ModelShipingDetails" class="modal fade" tabindex="-1" role="dialog" style="left:50%;" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Shipping Details</h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("UpdateShipingDetails", "Order", new AjaxOptions { HttpMethod = "POST", OnFailure = "NetworkFailure", AllowCache = false, OnComplete = "CheckinShipingChanges" }, new { @class = "form-horizontal", role = "form", id = "formBillingModal" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @*<div class="panel panel-default" style="min-height:250px">
                            <div class="panel-heading">Billing Address</div>
                            <div class="panel-body">*@
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.ShipFirstName, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.ShipFirstName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ShipFirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.ShipMidName, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.ShipMidName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ShipMidName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.ShipLastName, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.ShipLastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ShipLastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.ShipAddress, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.TextAreaFor(model => model.ShipAddress, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ShipAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.ShipCity, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.ShipCity, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ShipCity, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.ShipStateProvince, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.ShipStateProvince, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ShipStateProvince, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.ShipCountryCode, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.ShipCountryCode, Model.Countries, "-- Select Country --", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ShipCountryCode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.ShipContactNo, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.ShipContactNo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ShipContactNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-5 col-md-5">
                                @Html.HiddenFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-4", Value = "0", id = "hdnOrderHIDShip" })
                                <input type="submit" value="Save" class="btn btn-default btn-right" />
                            </div>
                        </div>
                    </div>
                            @*</div>
                                </div>*@
                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="ModelCreateNewOrder" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Cancel & Create new revision</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

                        <div style="padding:1%">
                            @{
                                PartyEC.UI.Models.ToolboxViewModel ToolBoxControlforModel = new PartyEC.UI.Models.ToolboxViewModel();
                                ToolBoxControlforModel.savebtn.Visible = true;
                                ToolBoxControlforModel.savebtn.Title = "Save";
                                ToolBoxControlforModel.savebtn.Event = "AddReviseOrder()";
                                Html.RenderPartial("_ToolboxView", ToolBoxControlforModel);
                            }

                        </div>
                        @*table*@
                        <table id="tblProductList" class="table table-striped table-bordered table-hover" cellspacing="0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ProductID</th>
                                    <th>Name</th>
                                    <th>BaseSellingPrice</th>
                                    <th>PriceDiffAmt</th>
                                    <th>DiscountAmout</th>
                                    <th>ActualPrice</th>

                                </tr>
                            </thead>
                        </table>
                        @*table*@
                    </div>

                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="ModelRevisionDetails" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        @*table*@
                        <h4 style="max-width:50%;padding:1%"><span class="fa fa-bfa fa-shopping-cart" style="font-size: 16px;color:#f46f25;"></span><span> </span><span class="Spantitle">Old Revision(Cancelled)</span></h4>
                        <hr />
                        <div class="col-md-12">
                            <div class="infoBox panel panel-default" style="min-height:250px">
                                <div class="infoBoxHeader panel-heading">General</div>
                                <div class="panel-body">
                                    @Html.LabelFor(model => model.OrderNo, htmlAttributes: new { @class = "h5 col-md-4" })
                                    <div class="col-md-8">
                                        @*style="font-weight:bold"*@
                                        <label id="lblOrderNo_RevLink" class="h5 label-display">-</label>
                                    </div>
                                    <div class="col-md-12"></div>
                                    @Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @class = "h5 col-md-4" })
                                    <div class="col-md-8">
                                        @*style="font-weight:bold"*@
                                        <label id="lblOrderDate_RevLink" class="h5 label-display">-</label>
                                    </div>
                                    <div class="col-md-12"></div>
                                    @Html.LabelFor(model => model.OrderStatus, htmlAttributes: new { @class = "h5 col-md-4" })
                                    <div class="col-md-8">
                                        @*style="font-weight:bold"*@
                                        <label id="lblOrderStatus_RevLink" class="h5 label-display">-</label>
                                    </div>
                                    <div class="col-md-12"></div>
                                    @Html.LabelFor(model => model.SourceIP, htmlAttributes: new { @class = "h5 col-md-4" })
                                    <div class="col-md-8">
                                        @*style="font-weight:bold"*@
                                        <label id="lblSourceIP_RevLink" class="h5 label-display">-</label>
                                    </div>
                                    
                                    <div class="col-md-12"></div>
                                    @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "h5 col-md-4" })
                                    <div class="col-md-8">
                                        @*style="font-weight:bold"*@
                                        <label id="lblCustomerName_RevLink" class="h5 label-display">-</label>
                                    </div>
                                    <div class="col-md-12"></div>
                                    @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "h5 col-md-4" })
                                    <div class="col-md-8">
                                        @*style="font-weight:bold"*@
                                        <label id="lblContactNo_RevLink" class="h5 label-display">-</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="tblProductListRevised" class="table table-striped table-bordered table-hover" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Poduct</th>
                                    <th>Item Status</th>
                                    <th>Qty</th>
                                    <th>Price</th>
                                    <th>Sub Total</th>
                                    <th>Shipping Charges</th>
                                    <th>Tax Amount</th>
                                    <th>Discount</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                        </table>
                        @*table*@
                    </div>

                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/datatableSelect")
    @Scripts.Render("~/bundles/jqueryunobtrusiveajaxvalidate")
    @Scripts.Render("~/bundles/Order")
}


