@model PartyEC.UI.Models.ProductViewModel
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section styles {
   @Styles.Render("~/Content/datatable")
   @Styles.Render("~/Content/bootstrapdatepicker")

    @Styles.Render("~/Content/datatableSelect")
    @Styles.Render("~/Content/product")   
}
<div class="container-fluid">
    <div class="panel with-nav-tabs panel-primary">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li id="tabproductList" class="active"><a>Product List</a></li>
                <li id="tabproductDetails"><a>Product Details</a></li>
                @*<li id="tabproductDetails" class="disabled"><a href="#productDetails">Product Details</a></li>*@
              @*<li class="dropdown">
                    <a href="#" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#tab4primary" data-toggle="tab">Primary 4</a></li>
                        <li><a href="#tab5primary" data-toggle="tab">Primary 5</a></li>
                    </ul>
                </li>*@
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="productList">

                    <h4>Product List</h4>
                    <div>
                        @{
                            PartyEC.UI.Models.ToolboxViewModel ToolBoxControl = new PartyEC.UI.Models.ToolboxViewModel();
                            ToolBoxControl.addbtn.Visible = true;
                            ToolBoxControl.addbtn.Event = "btnAddNewProduct()";
                            ToolBoxControl.addbtn.Title = "Add";


                            Html.RenderPartial("_ToolboxView", ToolBoxControl);
                        }
                    </div>
                    
                    @*table*@
                    <table id="tblproducts" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>ProductID</th>
                                <th>Name</th>
                                <th>ProductType</th>
                                <th>Active(Yes/No)</th>
                                <th>Supplier</th>
                                <th>SKU</th>
                                <th>Selling Price</th>
                                <th>Qty</th>
                                <th>Stock Status</th>
                                <th>Product Rating</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                    </table>
                    @*table*@



                </div>
                <div class="tab-pane fade" id="productDetails">
                   
                        <h4>Product Details</h4>
                    
                   
                    @*ButtonPatch*@
                   <div class="" id="btnPatchProductDetails" >
                   @{
                       PartyEC.UI.Models.ToolboxViewModel ToolBoxControlDetail = new PartyEC.UI.Models.ToolboxViewModel();
                       ToolBoxControlDetail.savebtn.Visible = true;
                       ToolBoxControlDetail.savebtn.Title = "Save";
                       ToolBoxControlDetail.savebtn.Event = "ProductSave()";
                       //ToolBoxControlDetail.deletebtn.Visible = true;
                       //ToolBoxControlDetail.deletebtn.Disable = true;
                       ToolBoxControlDetail.backbtn.Visible = true;
                       ToolBoxControlDetail.backbtn.Title = "Back";
                       ToolBoxControlDetail.backbtn.Event = "goback()";
                       Html.RenderPartial("_ToolboxView", ToolBoxControlDetail);
                   }
                     
                   </div>
                  <div class="col-lg-12">
                      <hr />
                  </div>
                    @*EditArea*@
                    <div class="col-md-2">
                        <div class="panel with-nav-tabs js panel-primary">
                            <div class="panel-heading">
                                <ul class="nav nav-tabs nav-stacked" id="LHSNavbarProductDetails">
                                    <li id="GeneralLI" onclick="ShowProductDetalsToolBox()" class="active"><a href="#general" data-toggle="tab" id="tabGeneral">General <span class="label label-danger">E</span></a></li>
                                    <li onclick="RenderContentForPrice()"><a href="#price" data-toggle="tab" id="tabPrice">Price</a></li>
                                    <li onclick="ShowProductDetalsToolBox()"><a href="#discription" data-toggle="tab" id="tabDiscrption">Discription</a></li>
                                    <li onclick="RenderContentForInventory()"><a href="#inventory" data-toggle="tab" id="tabInventory">Inventory <span class="label label-danger">E</span></a></li>
                                    <li onclick="ShowProductDetalsToolBox()"><a href="#productTags" data-toggle="tab" id="tabproducttags">Product Tags <span class="label label-danger">E</span></a></li>
                                    <li onclick="HideProductDetalsToolBox()"><a href="#relatedProducts" data-toggle="tab" id="tabRelatedProducts">Related Products</a></li>
                                    <li onclick="HideProductDetalsToolBox()"><a href="#images" data-toggle="tab" id="tabImages">Images</a></li>
                                    <li onclick="RenderContentsForAttributes()"><a href="#otherAttributes" data-toggle="tab" id="tabotherAttributes">Other Attributes</a></li>
                                    <li onclick="RenderContentsForAssocProdAttributes()"><a href="#associatedProducts" data-toggle="tab" id="tabassociatedProducts">Associated Products</a></li>
                                    <li onclick="HideProductDetalsToolBox()"><a href="#ratingAndReviews" data-toggle="tab" id="tabratingAndReviews">Ratings & Reviews</a></li>
                                 </ul>
                             </div>
                            </div>
   
                    </div>

                    <div class="col-md-10">
@using (Ajax.BeginForm("ProductInsertUpdate", "Products", new AjaxOptions { HttpMethod = "POST", OnSuccess = "productSaveSuccess", OnFailure = "productSaveFailure", AllowCache = false, LoadingElementId = "",OnComplete = "" }, new { @class = "form-horizontal", role = "form", id = "productform" }))
{
    @Html.AntiForgeryToken()

                        <div class="tab-content productTabContent">

                            <div class="tab-pane fade in active" id="general">
                                <!--Edit form column-->
                                
                                   
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <label for="Name" class="control-label col-lg-2">@Html.DisplayNameFor(model => model.Name)<span class="required">*</span></label>
                                        
                                        <div class="col-lg-4">
                                            @Html.HiddenFor(model => model.ID, htmlAttributes: new { @class = "control-label col-lg-2 productID", Value = "0" })

                                            @Html.HiddenFor(model => model.ProductDetailObj.ID, htmlAttributes: new { @class = "control-label col-lg-2", Value = "0",id="productdetailsID" })
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="SKU" class="control-label col-lg-2">@Html.DisplayNameFor(model => model.SKU)<span class="required">*</span></label>
                                        <div class="col-lg-4">
                                            @Html.EditorFor(model => model.SKU, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.SKU, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Enabled" class="control-label col-lg-2">@Html.DisplayNameFor(model => model.Enabled)<span class="required">*</span></label>
                                      
                                        <div class="col-lg-4">
                                            <div>
                                                @Html.EditorFor(model => model.Enabled)
                                                @Html.ValidationMessageFor(model => model.Enabled, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="Unit" class="control-label col-lg-2">@Html.DisplayNameFor(model => model.Unit)<span class="required">*</span></label>
                                        <div class="col-lg-4">
                                            @Html.EditorFor(model => model.Unit, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.URL, htmlAttributes: new { @class = "control-label col-lg-2" })
                                        <div class="col-lg-4">
                                            @Html.EditorFor(model => model.URL, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.URL, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="ActionType" class="control-label col-lg-2">@Html.DisplayNameFor(model => model.ActionType)<span class="required">*</span></label>
                                  
                                        <div class="col-lg-4">
                                            @{
                                                List<SelectListItem> actionTypeList = new List<SelectListItem>();
                                                actionTypeList.Add(new SelectListItem
                                                { Text ="Buy", Value = "A" });
                                                actionTypeList.Add(new SelectListItem
                                                { Text = "Book", Value = "B" });
                                                actionTypeList.Add(new SelectListItem
                                                { Text = "Quotation", Value = "Q" });
                                            }
                                       
                                            @Html.DropDownListFor(model => model.ActionType, actionTypeList, "-- Select Action Type --", new { @class = "form-control", @onchange = "ActionTypeOnChange()",value=-1 })
                                            @Html.ValidationMessageFor(model => model.ActionType, "", new { @class = "text-danger" })
                   
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="SupplierID" class="control-label col-lg-2">@Html.DisplayNameFor(model => model.SupplierID)<span class="required">*</span></label>
                                       
                                        <div class="col-lg-4">
                                            @Html.DropDownListFor(model => model.SupplierID, Model.suppliers, "--Select Supplier--", new { @class = "form-control", onchange = "supplierOnChange()",value=-1 })
                                          
                                            @Html.ValidationMessageFor(model => model.SupplierID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ManufacturerID, htmlAttributes: new { @class = "control-label col-lg-2" })
                                        <div class="col-lg-4">
                                            @Html.DropDownListFor(model => model.ManufacturerID, Model.manufacturers, "--Select Manufacturers--", new { @class = "form-control", onchange = "manufacturerOnChange()",value=-1 })
                                            @Html.ValidationMessageFor(model => model.ManufacturerID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="ProductType" class="control-label col-lg-2">@Html.DisplayNameFor(model => model.ProductType)<span class="required">*</span></label>
                                        <div class="col-lg-4">
                                            @{
                                                List<SelectListItem> productTypeList = new List<SelectListItem>();
                                                productTypeList.Add(new SelectListItem
                                                { Text = "Configurable", Value = "C" });
                                                productTypeList.Add(new SelectListItem
                                                { Text = "Simple", Value = "S" });
                                            }
                                        
                                            @Html.DropDownListFor(model => model.ProductType, productTypeList, "-- Select Product Type --", new { @class = "form-control", @onchange = "ProductTypeOnChange()",value=-1 })
                                            @Html.ValidationMessageFor(model => model.ProductType, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AttributeSetID, htmlAttributes: new { @class = "control-label col-lg-2" })
                                        <div class="col-lg-4">
                                            @*@Html.EditorFor(model => model.AttributeSetID, new { htmlAttributes = new { @class = "form-control" } })*@
                                            @Html.DropDownListFor(model => model.AttributeSetID, Model.AttributeSets, "--Select AttributeSets--", new { @class = "form-control", @onchange = "attributeSetOnChange()" })
                                            @Html.ValidationMessageFor(model => model.AttributeSetID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="FreeDelivery" class="control-label col-lg-2">@Html.DisplayNameFor(model => model.FreeDelivery)<span class="required">*</span></label>
                                        <div class="col-lg-4">
                                            <div>
                                                @Html.EditorFor(model => model.FreeDelivery)
                                                @Html.ValidationMessageFor(model => model.FreeDelivery, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                   

                                 

                                    <div class="form-group" hidden="hidden">
                                        <div class="col-md-offset-2 col-md-10">
                                           
                                            <input id="btnProductSubmit" type="submit" value="Create" class="btn btn-default" onclick="ConstructproductDetailObject()" />
                                        </div>
                                    </div>

                                
                            </div>
                            <div class="tab-pane fade" id="price">
                                <div class="form-group">
                                    <label for="CostPrice" class="control-label col-lg-2">@Html.DisplayNameFor(model => model.CostPrice)<span class="required">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.CostPrice, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CostPrice, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="BaseSellingPrice" class="control-label col-lg-2">@Html.DisplayNameFor(model => model.BaseSellingPrice)<span class="required">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.BaseSellingPrice, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.BaseSellingPrice, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ShowPrice" class="control-label col-lg-2">@Html.DisplayNameFor(model => model.ShowPrice)<span class="required">*</span></label>
                                
                                    <div class="col-lg-4">
                                        <div>
                                            @Html.EditorFor(model => model.ShowPrice)
                                            @Html.ValidationMessageFor(model => model.ShowPrice, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TaxClass, htmlAttributes: new { @class = "control-label col-lg-2" })
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.TaxClass, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } } )
                                        @Html.ValidationMessageFor(model => model.TaxClass, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                 
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DiscountAmount, htmlAttributes: new { @class = "control-label col-lg-2 productDetailGroup" })
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.DiscountAmount, new { htmlAttributes = new { @class = "form-control productDetailGroup" } })
                                        @Html.ValidationMessageFor(model => model.DiscountAmount, "", new { @class = "text-danger productDetailGroup" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.DiscountStartDate, htmlAttributes: new { @class = "control-label col-lg-2 productDetailGroup" })
                                    <div class="col-lg-4">
                                       
                                        @Html.EditorFor(model => model.DiscountStartDate, new { htmlAttributes = new { @class = "form-control productDetailGroup" } })
                                        @Html.ValidationMessageFor(model => model.DiscountStartDate, "", new { @class = "text-danger productDetailGroup" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DiscountEndDate, htmlAttributes: new { @class = "control-label col-lg-2 productDetailGroup" })
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.DiscountEndDate, new { htmlAttributes = new { @class = "form-control productDetailGroup" } })
                                        @Html.ValidationMessageFor(model => model.DiscountEndDate, "", new { @class = "text-danger productDetailGroup" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 divMsgconfigurable">
                                    <div class="alert-message alert-message-warning">
                                        <p>For Configurable products, Price section is available in 'Associated products' tab.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="discription">
                                <div class="form-group">
                                    <label for="ShortDescription" class="control-label col-lg-2">@Html.DisplayNameFor(model => model.ShortDescription)<span class="required">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="LongDescription" class="control-label col-lg-2">@Html.DisplayNameFor(model => model.LongDescription)<span class="required">*</span></label>
                                    <div class="col-lg-6">
                                        @Html.EditorFor(model => model.LongDescription, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LongDescription, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>     
                            <div class="tab-pane fade" id="inventory">

                                <div class="form-group">
                                    <label for="StockAvailable" class="control-label col-lg-2 productDetailGroup">@Html.DisplayNameFor(model => model.StockAvailable)<span class="required">*</span></label>
                                    <div class="col-lg-4 productDetailGroup">
                                        <div>
                                            @Html.EditorFor(model => model.StockAvailable)
                                            @Html.ValidationMessageFor(model => model.StockAvailable, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Qty" class="control-label col-lg-2 productDetailGroup">@Html.DisplayNameFor(model => model.Qty)<span class="required">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.Qty, new { htmlAttributes = new { @class = "form-control productDetailGroup" } })
                                        @Html.ValidationMessageFor(model => model.Qty, "", new { @class = "text-danger productDetailGroup" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="OutOfStockAlertQty" class="control-label col-lg-2 productDetailGroup">@Html.DisplayNameFor(model => model.OutOfStockAlertQty)<span class="required">*</span></label>
                                     <div class="col-lg-4">
                                        @Html.EditorFor(model => model.OutOfStockAlertQty, new { htmlAttributes = new { @class = "form-control productDetailGroup" } })
                                        @Html.ValidationMessageFor(model => model.OutOfStockAlertQty, "", new { @class = "text-danger productDetailGroup" })
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6 divMsgconfigurable">
                                    <div class="alert-message alert-message-warning">
                                        <p>For Configurable products, inventory section is available in 'Associated products' tab.</p>
                                    </div>
                                </div>


                            </div>
                            <div class="tab-pane fade" id="productTags">
                               @* <div class="col-lg-8">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.HeaderTags, htmlAttributes: new { @class = "control-label col-lg-2" })
                                        <div class="col-lg-6" id="headertagsdiv">
                                            @Html.EditorFor(model => model.HeaderTags, new { htmlAttributes = new { @class = "form-control" } })
                                           
                                                <button class="btn btn-default input-group-btn" type="button">Go!</button>
                                           
                                            @Html.ValidationMessageFor(model => model.HeaderTags, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div><!-- /.col-lg-6 -->*@

                                <div class="col-lg-8">
                                    @Html.LabelFor(model => model.HeaderTags, htmlAttributes: new { @class = "control-label col-lg-2" })
                                    <div class="input-group">
                                        @Html.HiddenFor(model => model.HeaderTags, new { htmlAttributes = new { @class = "form-control", placeholder = "Add key Words....." } })
                                        <input id="HeaderTagsPicker" type="text" class="form-control" placeholder = "Add key Words....." >
                                       
                                       
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">+</button>
                                        </span>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-8 -->
                                <br/>
                                <br />
                                
                                <div class="col-lg-8">
                                    <div class="col-lg-2"></div>
                                    <div id="keywordsDiv" class="input-group">

                                    </div>

                                </div>

                            </div>
                       

                            <div class="tab-pane fade" id="relatedProducts">

                                <div>
                                    @{
                                        PartyEC.UI.Models.ToolboxViewModel ToolBoxControlRelProduct = new PartyEC.UI.Models.ToolboxViewModel();
                                        ToolBoxControlRelProduct.addbtn.Visible = true;
                                        ToolBoxControlRelProduct.addbtn.Event = "RelatedProductsModel()";
                                        ToolBoxControlRelProduct.addbtn.Title = "Add";
                                        ToolBoxControlRelProduct.deletebtn.Visible = true;
                                        ToolBoxControlRelProduct.deletebtn.Event = "CallbtnDeleteRelatedProductSubmit()";
                                        ToolBoxControlRelProduct.deletebtn.Title = "Delete";
                                        Html.RenderPartial("_ToolboxView", ToolBoxControlRelProduct);
                                    }

                                </div>

                                @*table*@
                                <table id="tblRelatedproducts" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>ProductID</th>
                                            <th>Name</th>
                                            <th>ProductType</th>
                                            <th>Active(Yes/No)</th>
                                            <th>Supplier</th>
                                            <th>SKU</th>
                                            <th>Selling Price</th>
                                            <th>Qty</th>
                                            <th>Stock Status</th>
                                           
                                        </tr>
                                    </thead>
                                </table>
                                @*table*@
                                <div class="form-group" hidden="hidden">
                                    <div class="col-md-offset-2 col-md-10">

                                        <button id="btnmodelrelproduct" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ModelRelatedProducts"></button>

                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="images">
                                <div class="col-lg-12">
                                    <h2>Product Images</h2>
                                    <hr />
                                    <div class="col-sm-6 col-md-4">
                                        <div class="thumbnail">

                                            <div class="caption">
                                                <p>@Html.LabelFor(model => model.ProdutMainImageUpload, new { @class = "control-label" })</p>
                                                <p>@Html.TextBoxFor(model => model.ProdutMainImageUpload, new { type = "file", @class = "btn btn-default" })</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <img src=@Url.Content("~/Content/images/NoImageFound.png") alt="">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <h2>Other Images</h2>
                                    <hr />
                                    <div class="col-sm-6 col-md-4">
                                        <div class="thumbnail">

                                            <div class="caption">
                                                <p>@Html.LabelFor(model => model.OtherImagesUpload, new { @class = "control-label" })</p>
                                                <p>@Html.TextBoxFor(model => model.OtherImagesUpload, new { type = "file", @class = "btn btn-default" })</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <ul class="hide-bullets">
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-0">
                                                    <img src="http://placehold.it/150x150&text=zero">
                                                </a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-1"><img src="http://placehold.it/150x150&text=1"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-2"><img src="http://placehold.it/150x150&text=2"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-3"><img src="http://placehold.it/150x150&text=3"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-4"><img src="http://placehold.it/150x150&text=4"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-5"><img src="http://placehold.it/150x150&text=5"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-6"><img src="http://placehold.it/150x150&text=6"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-7"><img src="http://placehold.it/150x150&text=7"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-8"><img src="http://placehold.it/150x150&text=8"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-9"><img src="http://placehold.it/150x150&text=9"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-10"><img src="http://placehold.it/150x150&text=10"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-11"><img src="http://placehold.it/150x150&text=11"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-12"><img src="http://placehold.it/150x150&text=12"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-13"><img src="http://placehold.it/150x150&text=13"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-14"><img src="http://placehold.it/150x150&text=14"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-15"><img src="http://placehold.it/150x150&text=15"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <h2>Stickers</h2>
                                    <hr />
                                    <div class="col-sm-6 col-md-4">
                                        <div class="thumbnail">

                                            <div class="caption">

                                                <p>@Html.LabelFor(model => model.ProductStickerUpload, new { @class = "control-label" })</p>

                                                <p>@Html.TextBoxFor(model => model.ProductStickerUpload, new { type = "file", @class = "btn btn-default" })</p>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <ul class="hide-bullets">
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-0">
                                                    <img src="http://placehold.it/150x150&text=zero">
                                                </a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-1"><img src="http://placehold.it/150x150&text=1"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-2"><img src="http://placehold.it/150x150&text=2"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-3"><img src="http://placehold.it/150x150&text=3"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-4"><img src="http://placehold.it/150x150&text=4"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-5"><img src="http://placehold.it/150x150&text=5"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-6"><img src="http://placehold.it/150x150&text=6"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-7"><img src="http://placehold.it/150x150&text=7"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-8"><img src="http://placehold.it/150x150&text=8"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-9"><img src="http://placehold.it/150x150&text=9"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-10"><img src="http://placehold.it/150x150&text=10"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-11"><img src="http://placehold.it/150x150&text=11"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-12"><img src="http://placehold.it/150x150&text=12"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-13"><img src="http://placehold.it/150x150&text=13"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-14"><img src="http://placehold.it/150x150&text=14"></a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a class="thumbnail" id="carousel-selector-15"><img src="http://placehold.it/150x150&text=15"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="otherAttributes">
                                <div>
                                    @{
                                        PartyEC.UI.Models.ToolboxViewModel ToolBoxControlforOtherAttr = new PartyEC.UI.Models.ToolboxViewModel();
                                        ToolBoxControlforOtherAttr.savebtn.Visible = true;
                                        ToolBoxControlforOtherAttr.savebtn.Title = "Save";
                                        ToolBoxControlforOtherAttr.savebtn.Event = "OtherAttributeSave()";
                                        Html.RenderPartial("_ToolboxView", ToolBoxControlforOtherAttr);
                                    }

                                </div>
                               
                               <div id="dynamicOtherAttributes">
                                   <div class="col-sm-6 col-md-6">
                                       <div class="alert-message alert-message-warning">

                                           <p>Please Create a product from general section and come back:).</p>
                                       </div>
                                   </div>
                               </div>
                                       
                               </div>
                            <div class="tab-pane fade" id="associatedProducts">
                                <div>
                                    @{
                                        PartyEC.UI.Models.ToolboxViewModel ToolBoxControlforAssocProductAttr = new PartyEC.UI.Models.ToolboxViewModel();
                                        ToolBoxControlforAssocProductAttr.savebtn.Visible = true;
                                        ToolBoxControlforAssocProductAttr.savebtn.Title = "Save";
                                        ToolBoxControlforAssocProductAttr.savebtn.Event = "AssociatedProductSave()";
                                        ToolBoxControlforAssocProductAttr.deletebtn.Visible = true;
                                        ToolBoxControlforAssocProductAttr.deletebtn.Title = "Delete";
                                        ToolBoxControlforAssocProductAttr.deletebtn.Event = "AssociatedProductDelete()";
                                        Html.RenderPartial("_ToolboxView", ToolBoxControlforAssocProductAttr);
                                    }

                                </div>
                                <div class="container">
                                    <div id="DivtblAssociatedProducts">
                                        @*table*@
                                        <table id="tblAssociatedProducts" class="table table-striped table-bordered table-hover" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Product detail ID</th>
                                                    <th>Name</th>
                                                    <th>Options</th>
                                                    <th>Base selling price</th>
                                                    <th>Price difference</th>
                                                    <th>Actual price</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                        </table>
                                        @*table*@
                                    </div>
                                 
                                </div>
                                <div id="dynamicAssociatedProducts">
                                    <div class="col-sm-6 col-md-6">
                                        <div class="alert-message alert-message-warning">
                                            <p>Please Create a product from general section and come back:).</p>
                                        </div>
                                    </div>
                                </div>
                               
                               

                            </div>
                            <div class="tab-pane fade" id="ratingAndReviews">
                                <div class="well well-sm">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6 text-center">
                                            <h1 class="rating-num">
                                                4.0
                                            </h1>
                                            <div class="rating">
                                                <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                                </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                                </span><span class="glyphicon glyphicon-star-empty"></span>
                                            </div>
                                            <div>
                                                <span class="glyphicon glyphicon-user"></span>1,050,008 total
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="row rating-desc">
                                                <div class="col-xs-3 col-md-3 text-right">
                                                    Taste
                                                </div>
                                                <div class="col-xs-8 col-md-9">

                                                    <div class="rating-block">

                                                        <button type="button" class="btn btn-danger btn-sm" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-sm" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-success btn-grey btn-sm" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- end 5 -->
                                                <div class="col-xs-3 col-md-3 text-right">
                                                    Delivery
                                                </div>
                                                <div class="col-xs-8 col-md-9">
                                                    <div class="rating-block">

                                                        <button type="button" class="btn btn-danger btn-sm" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-sm" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-sm" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-grey btn-sm" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-grey btn-sm" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- end 4 -->
                                                <div class="col-xs-3 col-md-3 text-right">
                                                    Ease of Use
                                                </div>
                                                <div class="col-xs-8 col-md-9">
                                                    <div class="rating-block">

                                                        <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- end 3 -->
                                                <div class="col-xs-3 col-md-3 text-right">
                                                    Brand Reputation
                                                </div>
                                                <div class="col-xs-8 col-md-9">
                                                    <div class="rating-block">

                                                        <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- end 2 -->
                                                <div class="col-xs-3 col-md-3 text-right">
                                                    Value for Money
                                                </div>
                                                <div class="col-xs-8 col-md-9">
                                                    <div class="rating-block">

                                                        <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- end 1 -->
                                            </div>
                                            <!-- end row -->
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div id="ReviewsDisplay" class="col-sm-7">
                                        <hr />
                                        <div class="review-block">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                                                    <div class="review-block-name"><a href="#">nktailor</a></div>
                                                    <div class="review-block-date">January 29, 2016<br />1 day ago</div>
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="review-block-rate">
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                    </div>
                                                    <div class="review-block-title">this was nice in buy</div>
                                                    <div class="review-block-description">this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                                                    <div class="review-block-name"><a href="#">nktailor</a></div>
                                                    <div class="review-block-date">January 29, 2016<br />1 day ago</div>
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="review-block-rate">
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        </button>
                                                    </div>
                                                    <div class="review-block-title">this was nice in buy</div>
                                                    <div class="review-block-description">this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
                                                </div>
                                            </div>
                                         
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.productDetailhdf)
                  }
                       </div>
                 </div>
            </div>
        </div>
    </div>

</div>

@*------------------------------------------Models-----------------------------------------------------------*@
<div id="ModelRelatedProducts" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Add More Products</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    @*<div class="col-md-4">Albert Thomson</div>
                    <div class="col-md-4 col-md-offset-4">CCCCCCCCCCCCCCCCCCCCC</div>*@
                    <div class="col-md-12">
                        @*buttonpatch*@
                        <div>
                            @{
                                PartyEC.UI.Models.ToolboxViewModel ToolBoxControlforModel = new PartyEC.UI.Models.ToolboxViewModel();
                                ToolBoxControlforModel.savebtn.Visible = true;
                                ToolBoxControlforModel.savebtn.Title = "Save";
                                ToolBoxControlforModel.savebtn.Event = "CallbtnRelatedProductSubmit()";
                                Html.RenderPartial("_ToolboxView", ToolBoxControlforModel);
                            }

                        </div>
                        @*table*@
                        <table id="tblUNRelatedproducts" class="table table-striped table-bordered table-hover" cellspacing="0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ProductID</th>
                                    <th>Name</th>
                                    <th>ProductType</th>
                                    <th>Active(Yes/No)</th>
                                    <th>Supplier</th>
                                    <th>SKU</th>
                                    <th>Selling Price</th>
                                    <th>Qty</th>
                                    <th>Stock Status</th>
                                  
                                </tr>
                            </thead>
                        </table>
                        @*table*@
                    </div>
                      
                </div>
           </div>
@using (Ajax.BeginForm("RelatedProductsInsert", "Products", new AjaxOptions { HttpMethod = "POST", OnSuccess = "RelatedproductSaveSuccess", OnFailure = "productSaveFailure", AllowCache = false, LoadingElementId = "" }, new { @class = "form-horizontal", role = "form", id = "relatedproductform" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IDList, htmlAttributes: new { @class = "control-label col-lg-2 IDList", Value = "0" })
    @Html.HiddenFor(model => model.ID, htmlAttributes: new { @class = "control-label col-lg-2 productID",id= "productID", Value = "0" })
    <div class="form-group" hidden="hidden">
        <div class="col-md-offset-2 col-md-10">

            <input id="btnRelatedProductSubmit" type="submit" value="Create" class="btn btn-default" onclick="ConstructRelatdProductIDList()" />
        </div>
    </div>


}
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>*@
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@*--------------------------------------DeleteForm------------------------------------------------------------------*@
@using (Ajax.BeginForm("DeleteRelatedProducts", "Products", new AjaxOptions { HttpMethod = "POST", Confirm = "Are You Sure?...", OnSuccess = "RelatedproductDeleteSuccess", OnFailure = "productSaveFailure", AllowCache = false, LoadingElementId = "" }, new { @class = "form-horizontal", role = "form", id = "relatedproductDeleteform" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IDList, htmlAttributes: new { @class = "control-label col-lg-2 IDList",id="relatedproductlistID", Value = "0" })
    @Html.HiddenFor(model => model.ID, htmlAttributes: new { @class = "control-label col-lg-2 productID", id = "productIDInDelete", Value = "0" })
    <div class="form-group" hidden="hidden">
        <div class="col-md-offset-2 col-md-10">

            <input id="btnDeleteRelatedProductSubmit" type="submit" value="Create" class="btn btn-default" onclick="ConstructRelatdProductIDListForDelete()" />
        </div>
    </div>
}


@section Scripts {
@Scripts.Render("~/bundles/datatable")
@Scripts.Render("~/bundles/datatableSelect")
@Scripts.Render("~/bundles/jqueryunobtrusiveajaxvalidate")
@Scripts.Render("~/bundles/bootstrapdatepicker")
@Scripts.Render("~/bundles/product")
@Scripts.Render("~/bundles/AssoProduct")
}






