@model IEnumerable<PartyEC.UI.Models.AttributesViewModel>


<div id="dynamicAssociatedProductContents">


    @foreach (var item in Model)
    {
        switch (item.AttributeType)
        {
            case "S":
                <div class="form-group">
                    <label for=@Html.DisplayName(item.Name) class="col-lg-2 control-label">@Html.DisplayName(item.Caption)</label>
                    <div class="col-lg-4 input-group">
                        <input type="text" class="form-control" id=@Html.DisplayName(item.Name) name=@Html.DisplayName(item.Name)>
                    </div>
                </div>
                break;

            case "D":
                <div class="form-group">
                    <label for=@Html.DisplayName(item.Name) class="col-lg-2 control-label">@Html.DisplayName(item.Caption)</label>
                    <div class="col-lg-4 input-group">
                        <input type="date" class="form-control" id=@Html.DisplayName(item.Name) name=@Html.DisplayName(item.Name)>
                    </div>
                </div>
                break;

            case "N":
                <div class="form-group">
                    <label for=@Html.DisplayName(item.Name) class="col-lg-2 control-label">@Html.DisplayName(item.Caption)</label>
                    <div class="col-lg-4 input-group">
                        <input type="number" class="form-control" id=@Html.DisplayName(item.Name) name=@Html.DisplayName(item.Name)>
                    </div>
                </div>
                break;
            case "C":
                <div class="form-group">
                    <label for=@Html.DisplayName(item.Name) class="col-lg-2 control-label">@Html.DisplayName(item.Caption)</label>
                    <div class="col-lg-4 input-group">
                        <select class="form-control" id=@Html.DisplayName(item.Name) name=@Html.DisplayName(item.Name)>
                            <option value=-1>--Select @Html.DisplayName(item.Caption)--</option>
                            @{
                            if (!string.IsNullOrEmpty(item.CSValues))
                            {
                                string[] csv = item.CSValues.Split(',');
                                foreach (string sv in csv)
                                {
                                <option value=@Html.DisplayName(sv)>@Html.DisplayName(sv)</option>
                                }
                            }
                            }
                        </select>
                    </div>
                </div>
                  break;
              }
    }
</div>





