@model IEnumerable<PartyEC.UI.Models.AttributesViewModel>


@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttributeType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CSValues)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntityType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfigurableYN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilterYN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MandatoryYN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComparableYN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>*@

@foreach (var item in Model)
{

    switch (item.AttributeType)
    {
        case "S":
            <div class="form-group">
                <label for=@Html.DisplayName(item.Name) class="col-lg-2 control-label">@Html.DisplayName(item.Caption)</label>
                <div class="col-lg-4">
                    <input type="text" class="form-control" placeholder="" , id=@Html.DisplayName(item.Name)  name=@Html.DisplayName(item.Name)>
                </div>
            </div>
            break;

        case "D":
            <div class="form-group">
                <label for=@Html.DisplayName(item.Name) class="col-lg-2 control-label">@Html.DisplayName(item.Caption)</label>
                <div class="col-lg-4">
                    <input type="date" class="form-control" placeholder="" , id=@Html.DisplayName(item.Name) name=@Html.DisplayName(item.Name)>
                </div>
            </div>
            break;

        case "N":
            <div class="form-group">
                <label for=@Html.DisplayName(item.Name) class="col-lg-2 control-label">@Html.DisplayName(item.Caption)</label>
                <div class="col-lg-4">
                    <input type="number" class="form-control" placeholder="" , id=@Html.DisplayName(item.Name) name=@Html.DisplayName(item.Name)>
                </div>
            </div>
            break;
        case "C":
            <div class="form-group">
                <label for=@Html.DisplayName(item.Name) class="col-lg-2 control-label">@Html.DisplayName(item.Caption)</label>
                <div class="col-lg-4">
                    <select class="form-control" id=@Html.DisplayName(item.Name) name=@Html.DisplayName(item.Name)>
                        @{
                            //List<SelectListItem> actionTypeList = new List<SelectListItem>();
                            //actionTypeList.Add(new SelectListItem
                            //{ Text = "Buy", Value = "A" });
                            //actionTypeList.Add(new SelectListItem
                            //{ Text = "Book", Value = "B" });
                            //actionTypeList.Add(new SelectListItem
                            //{ Text = "Quotation", Value = "Q" });

                            if (!string.IsNullOrEmpty(item.CSValues))
                            {
                                string[] words = item.CSValues.Split(',');
                                foreach (string word in words)
                                {
                                    <option>@Html.DisplayName(word)</option>
                                }
                            }

                        }
                       
                       
                        </select>


                  

                </div>
            </div>

                                    break;
                                }
                            }

