<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Online Party Shopping in Qatar. Venue, Cake, Flowers &amp; More</title>
    <meta name="description" content="Find the best party vendors in Qatar. Organise a party online. Book Venue &amp; Photographer within your budget. Order cake, chocolates, gifts &amp; flowers online.">
    <meta name="keywords" content="Party Planner, Party Halls In Qatar, Birthday Party Venues, Events In Qatar, Order Cake online in Qatar, Top Quality Cakes online, Order Customised Cake, Personalised Cake online,  Flowers online,  Chocolate online, Cake free home delivery, Free Home delivery, Gift online in Qatar, Book your favourite Venue, Birthday venue, Birthday Cake, Birthday photographer, Doha Selfie Photography, Wedding Anniversary Photography, Wedding Anniversary location. ">
    <meta name="robots" content="INDEX,FOLLOW">
    <link rel="icon" href="https://www.partyec.com/media/favicon/default/favicon_3.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://www.partyec.com/media/favicon/default/favicon_3.png" type="image/x-icon">
    @*<meta charset="utf-8">*@
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>*@

    <!-- Bootstrap Core CSS -->
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900' rel='stylesheet' type='text/css'>
    <style>
        #loading-img {
    background: url('../../Content/images/Loader.gif') center center no-repeat;
    height: 100%;
    z-index: 1040;
}
.mega-header {
    text-align: center;
    position: relative;
}
.overlayLoad {
    background: #faf8f8;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 1040;
}
    </style>


</head>
<body>
    <nav class="navbar navbar-default">
        
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="border-radius:50%"><img alt="PartyEC" src=@Url.Content("~/Content/images/partyEClogo.png")></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <br />
                
                @Html.Action("_MenuNavBar", "DynamicUI")
              
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation" class="dropdown">
                        <a href="/Order">
                            <i class="fa fa-envelope-o"></i>
                            @*<span class="badge bg-green">6</span>*@
                        </a>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a href="/Reviews" >
                            <i class="fa fa-truck"></i>
                            @*<span class="badge bg-green">6</span>*@
                        </a>
                    </li>
                    <li><a href="#">Jomon</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
       
        @*@Html.Action("_MenuNavBar", "DynamicUI")*@
        
        @*@Html.Action("TopNav", "Home")*@     @*Navbar rendering*@
        @*@Html.Partial("TopNav")*@
        @*@Html.RenderPartial("TopNav")*@


    </nav>

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a><span class="divider"> »</span></li>
        <li><a href="#">Catalog</a><span class="divider"> »</span></li>
        <li class="active">Products</li>
    </ol>
        <div class="container-fluid">
            @RenderBody()
         
        </div>
    
       <div class="overlayLoad" id="displaywait">
        <!------ loading --->
        <div id="loading-img"></div>
        </div>
    
    <nav class="navbar navbar-default">
        
            <footer>
                <p>&copy;Thrithvam Technologies @DateTime.Now.Year</p>
            </footer>
       
    </nav>
  


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/bootstrapdatepicker")
        @Scripts.Render("~/bundles/userpluginjs")
        @RenderSection("scripts", required: false)

</body>

</html>
