@model PartyEC.UI.Models.ToolboxViewModel
<div class="buttonpatch" style="width:auto;float:right;">
    @*<a class="facebook" title="Add New" id="btnAddNew"><img src="~/Content/images/add.PNG" /></a>*@
   @if (Model.backbtn.Visible)
   {
       if (Model.backbtn.Disable)
       {
        <a class="thr_disbtn">
            <img src="@Url.Content("~/Content/images/back.PNG")">
        </a>
       }
       else
       {
        <a title=@Model.backbtn.Title class="thr_btn" onclick=@Model.backbtn.Event>
            <img src="@Url.Content("~/Content/images/back.PNG")">
        </a>
       }

   }
    @if (Model.addbtn.Visible)
   {
       if (Model.addbtn.Disable)
       {
        <a class="thr_disbtn">
            <img src="@Url.Content("~/Content/images/add.PNG")">
        </a>
       }
       else
       {
        <a title=@Model.addbtn.Title class="thr_btn" onclick=@Model.addbtn.Event>
            <img src="@Url.Content("~/Content/images/add.PNG")">
        </a>
       }

   }
    @if (Model.addsubbtn.Visible)
    {
        if (Model.addsubbtn.Disable)
        {
            <a class="thr_disbtn">
                <img src="@Url.Content("~/Content/images/add.PNG")">
            </a>
        }
        else
        {
            <a title="Add Sub Category" class="thr_btn" onclick=@Model.addsubbtn.Event>
                <img src="@Url.Content("~/Content/images/add.PNG")">
            </a>
        }

    }
    @if (Model.editbtn.Visible)
    {
        if (Model.editbtn.Disable)
        {
            <a class="thr_disbtn">
                <img src="@Url.Content("~/Content/images/edit.PNG")">
            </a>
        }
        else
        {
            <a title=@Model.editbtn.Title class="thr_btn" onclick=@Model.editbtn.Event>
                <img src="@Url.Content("~/Content/images/edit.PNG")">
            </a>
        }
    }
    @if (Model.savebtn.Visible)
    {
        if (Model.savebtn.Disable)
        {
            <a class="thr_disbtn">
                <img src="@Url.Content("~/Content/images/save.PNG")">
            </a>
        }
        else
        {
            <a title=@Model.savebtn.Title class="thr_btn" onclick=@Model.savebtn.Event>
                <img src="@Url.Content("~/Content/images/save.PNG")">
            </a>
        }
    }
    @if (Model.resetbtn.Visible)
    {
        if (Model.resetbtn.Disable)
        {
            <a class="thr_disbtn">
                <img src="@Url.Content("~/Content/images/reset.PNG")">
            </a>
        }
        else
        {
            <a title=@Model.resetbtn.Title class="thr_btn" onclick=@Model.resetbtn.Event>
                <img src="@Url.Content("~/Content/images/reset.PNG")">
            </a>
        }
    }
    @if (Model.deletebtn.Visible)
    {
        if (Model.deletebtn.Disable)
        {
            <a class="thr_disbtn">
                <img src="@Url.Content("~/Content/images/delete.PNG")">
            </a>
        }
        else
        {
        <a title=@Model.deletebtn.Title class="thr_btn" onclick=@Model.deletebtn.Event>
            <img src="@Url.Content("~/Content/images/delete.PNG")">
        </a>
        }
    }
    @if (Model.cancelbtn.Visible)
    {
        if (Model.cancelbtn.Disable)
        {
            <a class="thr_disbtn">
                <img src="@Url.Content("~/Content/images/closemodel.PNG")">
            </a>
        }
        else
        {
            <a title=@Model.cancelbtn.Title class="thr_btn" onclick=@Model.cancelbtn.Event>
                <img src="@Url.Content("~/Content/images/closemodel.PNG")">
            </a>
        }
    }
    @if (Model.sendbtn.Visible)
    {
        if (Model.sendbtn.Disable)
        {
            <a class="thr_disbtn">
                <img src="@Url.Content("~/Content/images/sentmail.PNG")">
            </a>
        }
        else
        {
            <a title=@Model.sendbtn.Title class="thr_btn" onclick=@Model.sendbtn.Event>
                <img src="@Url.Content("~/Content/images/sentmail.PNG")">
            </a>
        }
    }
    @if (Model.invoicebtn.Visible)
    {
        if (Model.invoicebtn.Disable)
        {
            <a class="thr_disbtn">
                <img src="@Url.Content("~/Content/images/invoice.png")">
            </a>
        }
        else
        {
            <a title=@Model.invoicebtn.Title class="thr_btn" onclick=@Model.invoicebtn.Event>
                <img src="@Url.Content("~/Content/images/invoice.png")">
            </a>
        }
    }
    @if (Model.shipbtn.Visible)
    {
        if (Model.shipbtn.Disable)
        {
            <a class="thr_disbtn">
                <img src="@Url.Content("~/Content/images/ship.png")">
            </a>
        }
        else
        {
            <a title=@Model.shipbtn.Title class="thr_btn" onclick=@Model.shipbtn.Event>
                <img src="@Url.Content("~/Content/images/ship.png")">
            </a>
        }
    }

    @if (Model.actDeactbtn.Visible)
    {
        if (Model.actDeactbtn.Disable)
        {
            <a class="thr_disbtn">
                <img src="@Url.Content("~/Content/images/power-button.png")">
            </a>
        }
        else
        {
            <a title=@Model.actDeactbtn.Title class="thr_btn" onclick=@Model.actDeactbtn.Event>
                <img src="@Url.Content("~/Content/images/power-button.png")">
            </a>
        }
    }

</div>