@model PartyEC.UI.Models.ProductReviewViewModel
@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section styles {
    @Styles.Render("~/Content/DataTables/css/datatable")

}
<div class="container-fluid">
    <div class="panel with-nav-tabs panel-primary">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" id="tabReviewList" onclick="ReviewListInitialization();" data-toggle="tab"><i class="fa fa-list">&nbsp;</i>Review List</a></li> 
                <li ><a  href="#tab2" id="tabReviewDetails" onclick="ReviewDetailsInitialization();" data-toggle="tab"><i class="fa fa-file-o">&nbsp;</i>Review Details</a></li>
                <div class="" id="btnPatchReview">

                </div>
            </ul>
        </div>
        <div class="panel-body" style="min-height:550px;padding:0;">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1" style="padding:1%;"> 
                    <form class="form-horizontal" role="form" style="position:absolute;width:86%;left:20%;">
                       
                        <div class="form-group">                           
                            <div id="MYFORM" class="col-sm-12">                               
                                <label class="radio-inline col-md-1"> <input type="radio" onchange="BindReviews()" name="REVIEW" id="rdoreviewApproved" value="APPROVED"><b>Approved</b></label>
                                <label class="radio-inline col-md-1"> <input type="radio" onchange="BindReviews()" name="REVIEW" id="rdoreviewPending" value="PENDING"><b>Pending</b></label>
                                <label class="radio-inline col-md-1"> <input type="radio" onchange="BindReviews()" name="REVIEW" id="rdoreviewAll" value="ALL"><b>All</b></label>
                            </div>
                        </div>
                        <div class="form-group" style="position:center;">
                            <div class="col-sm-8">
                                <label><b>Date From</b></label>
                                <input class="datepicker" onchange="countDays()" type="text" style="width:120px" name="From" id="fromdate" />
                                <label><b>To Date</b> </label>
                                <input class="datepicker" onchange="countDays()" type="text" style="width:120px" name="To" id="todate" />
                                <label id="dayscount" style="padding-left:10px"><b></b></label>
                                <b><a href="#" style="padding-left:10px" onclick="BindReviews()"> APPLY</a></b>

                            </div>
                        </div>
                    </form>
                    <br /><br />
                    <table id="tblReview" class="table table-striped table-bordered table-hover dt[-head|-body]-center" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Product ID</th>
                                <th>Product Name</th> 
                                <th>Customer Name</th>
                                <th>Review</th>
                                <th>Review Date</th>
                                <th>Rating</th>
                                <th>Rating Date</th>
                                <th>Status</th>
                                <th>Action</th>                               
                            </tr>
                        </thead>
                    </table>
                    @*table*@
                </div>
                <div class="tab-pane fade" id="tab2">
                    
                  
                    <div class="col-md-12" id="InsertReview" style="padding:0;">
                        <div class="col-md-2" style="padding:0;">

                            @* left hand side Tab  *@

                            <div class="col-md-12 " style="padding:0;">
                                <ul class="nav nav-tabs nav-stacked Sidebar_Party" style="min-height:577px;">
                                    <li class="liHead"><a disabled>&nbsp;</a></li>
                                    <li class="active"><a href="#general" data-toggle="tab" id="tabGeneral">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;General </a></li>

                                </ul>

                            </div>
                        </div>
                        <div class="col-lg-9">
                            <h4 style="max-width:50%;padding:1%;"><span class="fa fa-crosshairs" style="font-size: 16px;color: #f46f25;"></span><span> </span><span id="titleSpanPro" class="Spantitle">Review Details</span></h4>
                            <hr />
                            <div class="col-md-12 ">
                                @using (Ajax.BeginForm("UpdateReview", "Reviews", new AjaxOptions { HttpMethod = "POST", Confirm = "", OnSuccess = "SaveSuccess", OnFailure = "NetworkFailure", AllowCache = false, LoadingElementId = "", OnBegin = "", OnComplete = "" }, new { @class = "form-horizontal", role = "form", id = "mainform" }))
                            {
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                @Html.HiddenFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-4" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductID, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.ProductID, new { htmlAttributes = new { @class = "form-control", disabled = "disabled"} })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Review, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextAreaFor(model => Model.Review, new { @readonly = true, @class = "form-control", style = "height: 100px;" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ReviewCreatedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.ReviewCreatedDate, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.RatingDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.RatingDate, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IsApproved, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.IsApproved, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Product Rating", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div id="CustomerRating" class="col-md-7">
                                </div>
                            </div>

                            <div class="form-group" hidden="hidden">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" id="btnFormUpdate" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                            }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group" hidden="hidden">
    <button id="btnmodelproductrating" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ModelProductsRating"></button>
</div>

@*--------------------------------------Product Rating Form------------------------------------------------------------------*@
<div id="ModelProductsRating" class="modal fade" tabindex="-1" role="dialog" style="left:50%; top:45%" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="titleProductRating">Product Ratings</h4>
            </div>
            <div class="modal-body">
                <div id="RatingPopupDisplay" class="row">
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/jqueryunobtrusiveajaxvalidate")
    @Scripts.Render("~/bundles/Review")
}





