@model PartyEC.UI.Models.ShippingLocationViewModel

@{
    ViewBag.Title = "Shipping Location";
    ViewBag.PageName = "Shipping Locations";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section styles {
    @Styles.Render("~/Content/DataTables/css/datatable")

}
<div class="container-fluid">
    <div class="panel with-nav-tabs panel-primary">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" id="tabShippingLocationList" onclick=" InitializeEvents();" data-toggle="tab"><i class="fa fa-list">&nbsp;</i>Shipping Location List</a></li>
                <li><a href="#tab2" onclick="btnAddNew(1)" id="tabShippingLocationDetails" data-toggle="tab"><i class="fa fa-file-o">&nbsp;</i>Shipping Location Details</a></li>
                <div class="" id="btnPatchShippingLocation">

                </div>
             </ul>
        </div>
        <div class="panel-body" style="min-height:550px;padding:0;">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1" style="padding:1%;">
                    
                    @*table*@
                    <table id="tblshippinglocation" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Shipping Location</th>
                                <th>Created Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                    @*table*@
                </div>
                <div class="tab-pane fade" id="tab2">
                 
                   
                    <div class="col-md-12" id="InsertShippingLocation" style="padding:0;"> 
                        <div class="col-md-2" style="padding:0;">
                            @* left hand side Tab  *@
                            <div class="col-md-12 " style="padding:0;">
                                <ul class="nav nav-tabs nav-stacked Sidebar_Party" style="min-height:500px;">
                                    <li class="liHead"><a disabled>&nbsp;</a></li>
                                    <li class="active"><a href="#general" data-toggle="tab" id="tabGeneral">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;General </a></li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-md-9">
                            <h4 style="max-width:50%;padding:1%;"><span class="fa fa-map-marker" style="font-size: 16px;color: #f46f25;"></span><span> </span><span id="titleSpanPro" class="Spantitle">Shipping Location Details</span></h4>
                            <hr />

                            <div class="col-md-12 ">
                                @using (Ajax.BeginForm("InsertUpdateShippingLocation", "ShippingLocation", new AjaxOptions { HttpMethod = "POST", Confirm = "", OnSuccess = "SaveSuccess", OnFailure = "NetworkFailure", AllowCache = false, LoadingElementId = "", OnBegin = "", OnComplete = "" }, new { @class = "form-horizontal", role = "form",id="mainform" }))
                            {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">


                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.HiddenFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-4", Value = "0" })
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-4">
                                                @Html.Editor("New", new { htmlAttributes = new { @class = "form-control",disabled = "disabled",id="Shipping_locId" } })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-4">
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group" hidden="hidden">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" id="btnFormSave" value="Create" class="btn btn-default" />
                                            </div>
                                        </div>
                                    </div>
                            }
                            </div>
                        </div>
                    </div>
                </div>
                <div id="DeleteShippingLocation" hidden="hidden">
                    @using (Ajax.BeginForm("DeleteShippingLocation", "ShippingLocation", new AjaxOptions { HttpMethod = "POST", Confirm = "DeleteConfirm", OnSuccess = "DeleteSuccess", OnFailure = "NetworkFailure", AllowCache = false, LoadingElementId = "", OnBegin = "", OnComplete = "" }, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-actions no-color">
                            @Html.HiddenFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-4", Value = "0", id = "deleteId" })
                            <input id="btnFormDelete" type="submit" value="Delete" class="btn btn-default" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/jqueryunobtrusiveajaxvalidate")
    @Scripts.Render("~/bundles/ShippingLocations")
}