
@{
    ViewBag.Title = "Cart_Wishlist";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

 
@section styles {
    @Styles.Render("~/Content/DataTables/css/datatable")
    @Styles.Render("~/Content/bootstrapdatepicker")  
}


<div class="container-fluid">
    <div class="panel with-nav-tabs panel-primary">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#Tab1" id="tabCustomerList"onclick="Tab1Click()"  data-toggle="tab"><i class="fa fa-list">&nbsp;</i>Customers List</a></li>
                <li  id="tabshoppingCartWishlist" class="disabled"><a href="#Tab2"  ><i class="fa fa-file-o">&nbsp;</i>Shopping Cart & Wishlist Detail</a></li>
                <div class="" id="btnPatchtab2">

                </div>
             </ul>
        </div>
        <div class="panel-body" style="min-height:500px;padding:0;">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="Tab1" style="padding:1%;"> 
                   
                    @*table*@
                    <table id="tblCustomersList" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Customer ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Mobile No</th>
                                <th>Cart Count</th>
                                <th>Wishlist Count</th>                               
                                <th>Veiw Button</th>
                            </tr>
                        </thead>
                    </table>
                    @*table*@
                </div>
                <div class="tab-pane fade" id="Tab2">
                  
                    <div class="col-md-12"  style="padding:0;">
                        <div class="col-md-2" style="padding:0;">
                            @* left hand side Tab  *@

                            <div class="col-md-12 " style="padding:0;">
                                <ul class="nav nav-tabs nav-stacked Sidebar_Party" style="min-height:500px;">
                                    <li class="liHead"><a disabled>&nbsp;</a></li>
                                    <li class="active"><a href="#ShoppingCartDetails" data-toggle="tab" id="tabShoppingCart">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ShoppingCart </a></li>
                                    <li><a href="#WishListDetails" data-toggle="tab" id="tabWishList">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WishList </a></li>
                                </ul>

                            </div>
                       
                        </div>
                        <div class="col-md-10">
                            <div class="tab-content EventTabContent">
                                <div class="tab-pane fade in active" id="ShoppingCartDetails">
                                    <h4 id="SC_TableHead"></h4>
                                    @*table*@
                                    <table id="tblShoppingCart" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Customer Name</th>
                                                <th>Product ID</th>
                                                <th>Product Name</th>
                                                <th>Options</th>
                                                <th>Qty</th>
                                                <th>Currency</th>
                                                <th>Price</th>
                                                <th>Status</th>
                                                <th>Created Date</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    @*table*@
                                </div>
                                <div class="tab-pane fade" id="WishListDetails">
                                    <h4 id="WL_TableHead"></h4>
                                    @*table*@
                                    <table id="tblWishlist" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                        <thead>
                                            <tr> 
                                                <th>Customer Name</th>
                                                <th>Product ID</th>
                                                <th>Product Name</th>
                                                <th>Options</th> 
                                                <th>Created Date</th>
                                                <th>Days In Wishlist</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    @*table*@
                                </div>
                            </div>                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/jqueryunobtrusiveajaxvalidate")
    @Scripts.Render("~/bundles/bootstrapdatepicker")
    @Scripts.Render("~/bundles/CartWishlist")
}




