@model PartyEC.UI.Models.SupplierViewModel

@{
    ViewBag.Title = "Suppliers";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section styles {
    @Styles.Render("~/Content/DataTables/css/datatable")

}
 <div class="container-fluid">
    <div class="panel with-nav-tabs panel-primary">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" id="tabSupplierList" data-toggle="tab">Supplier List</a></li>
                <li><a href="#tab2"  onclick="clearfields()" id="tabSupplierDetails" data-toggle="tab">Supplier Details</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1">
                    <div class="" id="btnPatchSupplierstab1">
                        @{
                            PartyEC.UI.Models.ToolboxViewModel ToolBoxControltab1 = new PartyEC.UI.Models.ToolboxViewModel();
                            ToolBoxControltab1.addbtn.Visible = true;
                            ToolBoxControltab1.addbtn.Event = "btnAddNew()";
                            Html.RenderPartial("_ToolboxView", ToolBoxControltab1);
                        }
                    </div>
                    <h4>   Suppliers List </h4>
                    @*table*@
                    <table id="tblsuppliers" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Supplier Name</th>
                                <th>Created Date</th>                           
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                    @*table*@
                </div>
                <div class="tab-pane fade" id="tab2">
                    <div class="" id="btnPatchSupplierstab2">
                        @{
                            PartyEC.UI.Models.ToolboxViewModel ToolBoxControltab2 = new PartyEC.UI.Models.ToolboxViewModel();
                            ToolBoxControltab2.deletebtn.Visible = true;
                            ToolBoxControltab2.resetbtn.Visible = true;
                            ToolBoxControltab2.savebtn.Visible = true;
                            ToolBoxControltab2.backbtn.Visible = true;
                            ToolBoxControltab2.deletebtn.Event = "clickdelete()";
                            ToolBoxControltab2.resetbtn.Event = "btnreset()";
                            ToolBoxControltab2.savebtn.Event = "clicksave()";
                            ToolBoxControltab2.backbtn.Event = "goback()";
                            Html.RenderPartial("_ToolboxView", ToolBoxControltab2);
                        }
                    </div>
                    <h4>Supplier Details</h4>         
                    <div class="col-md-12" id="Insertsupplier">
                        <div class="col-md-2">
                            @* left hand side Tab  *@
                            <div class="panel with-nav-tabs js panel-primary">
                                <div class="panel-heading" style="min-height:300px">
                                    <ul class="nav nav-tabs nav-stacked">
                                        <li class="active"><a id="tabGeneral">General</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                         @using (Ajax.BeginForm("InsertUpdateSuppliers", "Event", new AjaxOptions { HttpMethod = "POST", Confirm = "", OnSuccess = "SaveSuccess", OnFailure = "NetworkFailure", AllowCache = false, LoadingElementId = "", OnBegin = "", OnComplete = "" }, new { @class = "form-horizontal", role = "form" }))
                         {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                                            

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group"> 
                                        @Html.HiddenFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-4", Value = "0" })
                                    </div>

                                    <div class="form-group">                                        
                                        @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <label id="lblSupplierID" class="h4 label-display">-New-</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group" hidden="hidden">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" id="btnFormSave" value="Create" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                           }
                        </div>
                        <div class="col-md-4">
                            @* Right hand side Space  *@
                        </div>
                    </div> 
                </div>  
            </div>
        </div>
    </div>
</div>





 @section Scripts {
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/jqueryunobtrusiveajaxvalidate")
    @Scripts.Render("~/bundles/Suppliers")
}
